{% extends 'base.html' %}


{% block title %}
Главная
{% endblock %}

{% block menu_highlight %}

<ul class="app-menu">
  <li><a class="app-menu__item active" href="{{url_for('index')}}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Главная</span></a></li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-play-circle-o"></i><span class="app-menu__label">Начало курса</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="{{url_for('start')}}"><i class="icon fa fa-circle-o"></i>О курсе и коммуникации</a></li>
      <!-- <li><a class="treeview-item" href="{{url_for('start')}}#yak1" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i>Коммуникация</a></li> -->
      <li><a class="treeview-item" href="{{url_for('start_faq')}}"><i class="icon fa fa-circle-o"></i>Вопросы</a></li>
      <li><a class="treeview-item" href="{{url_for('start_py')}}"><i class="icon fa fa-circle-o"></i>Настройка рабочего места</a></li>
      <li><a class="treeview-item" href="{{url_for('start_last')}}"><i class="icon fa fa-circle-o"></i>Начать обучение</a></li>
    </ul>
  </li>
  <!-- <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Charts</span></a></li> -->
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Общий курс</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="{{url_for('common_cli')}}"><i class="icon fa fa-circle-o"></i>Командная строка</a></li>
      <li><a class="treeview-item" href="{{url_for('common_pyfiles')}}"><i class="icon fa fa-circle-o"></i>Файлы *.py и редактор</a></li>
      <li><a class="treeview-item active" href="{{url_for('common_simple')}}"><i class="icon fa fa-circle-o"></i>Простые типы данных</a></li>
      <li><a class="treeview-item" href="{{url_for('common_complex')}}"><i class="icon fa fa-circle-o"></i>Комплексные типы данных</a></li>
      <li><a class="treeview-item" href="{{url_for('common_funcs')}}"><i class="icon fa fa-circle-o"></i>Функции</a></li>
      <li><a class="treeview-item" href="{{url_for('common_github')}}"><i class="icon fa fa-circle-o"></i>Git и GitHub</a></li>
      <li><a class="treeview-item" href="{{url_for('common_bot')}}"><i class="icon fa fa-circle-o"></i>Пишем бота для Telegram</a></li>
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Трек Веб-разработка</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="table-basic.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
      <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
      <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Трек Data-Science</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="blank-page.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
      <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
      <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
    </ul>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Трек Telegram-Bot</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="blank-page.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
        <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
        <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
      </ul>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Дополнительно</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="blank-page.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
        <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
        <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
      </ul>
      <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-info-circle"></i><span class="app-menu__label">Справочная</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-question-circle"></i>FAQ</a></li>
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-database"></i>База знаний</a></li>
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-book"></i>Литература</a></li>
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-address-book"></i>Контакты</a></li>
        </ul>
  </li>
  <!-- <li><a class="app-menu__item" href="docs.html"><i class="app-menu__icon fa fa-file-code-o"></i><span class="app-menu__label">Docs</span></a></li> -->
</ul>



{% endblock %}



{% block content %}
   <!-- Main page content-->
   <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Главная</h1>
          <p>Новости и статистика</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Главная</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4>Users</h4>
              <p><b>5</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
              <h4>Likes</h4>
              <p><b>25</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
              <h4>Uploades</h4>
              <p><b>10</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
            <div class="info">
              <h4>Stars</h4>
              <p><b>500</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Прогресс в виде графика</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title">Прогресс в виде пирога</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>

      <!--News and articles -->
      <!--News -->
      <div class="row">
        <div class="col-md-3">
          <div class="tile">
            <h3 class="tile-title">Новости Python</h3>
              <ul style="list-style-type: none; margin:0; padding: 0">
                {% for news in news_list %}
                <li style="text-align: left;"><a href="{{ news.url }}"><h4>{{ news.title }}</h4></a></li>
                  <p>{{ news.published.strftime('%d.%m.%Y %H:%M') }}</p>
                {% endfor %}
              </ul>
            <p class="mt-4 mb-4"><a class="btn btn-primary mr-2 mb-2" href="http://pratikborsadiya.in/blog/vali-admin" target="_blank"><i class="fa fa-file"></i>Docs</a><a class="btn btn-info mr-2 mb-2" href="https://github.com/pratikborsadiya/vali-admin" target="_blank"><i class="fa fa-github"></i>GitHub</a><a class="btn btn-success mr-2 mb-2" href="https://github.com/pratikborsadiya/vali-admin/archive/master.zip" target="_blank"><i class="fa fa-download"></i>Download</a></p>
          </div>
        </div>

        <!-- Articles -->
        <div class="col-md-9">
            <div class="row">
              <div class="col-md-4">
                <div class="tile">
                  <h2 class="tile-title">{{ habr_list[0].title }}</h2>
                  <p>This theme is not built for a specific framework or technology like Angular or React etc. But due to it's modular nature it's very easy to incorporate it into any front-end or back-end framework like Angular, React or Laravel.</p>
                  <img src="http://habrahabr.ru/favicon.ico" class="rounded float-right">
                  <a href="{{ habr_list[0].url }}"><h4>Читать на habr.com </h4></a>
                </div>
            </div>
        <div class="col-md-4">
            <div class="tile">
                  <h3 class="tile-title">{{ habr_list[1].title }}</h3>
                  <p>This theme is not built for a specific framework or technology like Angular or React etc. But due to it's modular nature it's very easy to incorporate it into any front-end or back-end framework like Angular, React or Laravel.</p>
                  <img src="http://habrahabr.ru/favicon.ico" class="rounded float-right" style="">
                  <a href="{{ habr_list[1].url }}"><h4>Читать на habr.com</h4></a>
                </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                  <h3 class="tile-title">{{ habr_list[2].title }}</h3>
                  <p>This theme is not built for a specific framework or technology like Angular or React etc. But due to it's modular nature it's very easy to incorporate it into any front-end or back-end framework like Angular, React or Laravel.</p>
                  <img src="http://habrahabr.ru/favicon.ico" class="rounded float-right" style="">
                  <a href="{{ habr_list[2].url }}"><h4>Читать на habr.com </h4></a>
                </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                    <h3 class="tile-title">{{ tproger_list[0].title }}</h3>
                    <p>{{  tproger_list[0].text }}</p>
                  <!-- <img src="https://tproger.ru/wp-content/uploads/2017/09/null-sq-128.png" class="" style=""> -->
                  <a href="{{ tproger_list[0].url }}"><h4>Читать на tproger.ru</h4></a>
                  </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                      <h3 class="tile-title">{{ tproger_list[1].title }}</h3>
                      <p>{{ tproger_list[1].text }}</p>
                      <a href="{{ tproger_list[1].url }}"><h4>Читать на tproger.ru</h4></a>
                  </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                      <h3 class="tile-title">{{ tproger_list[2].title }}</h3>
                      <p>{{ tproger_list[2].text }}</p>
                      <a href="{{ tproger_list[0].url }}"><h4>Читать на tproger.ru</h4></a>
                  </div>
        </div>
        </div>
    <!-- </main> -->
{% endblock %}