{% extends 'base.html' %}
{% from "macros.html" import nav_link with context %}.


{% block menu_highlight %}
<ul class="app-menu">
  <li><a class="app-menu__item" href="{{url_for('index')}}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Главная</span></a></li>
  <li class="treeview menu"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-play-circle-o"></i><span class="app-menu__label">Начало курса</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="{{url_for('start')}}#top"><i class="icon fa fa-circle-o"></i>О курсе и коммуникации</a></li>
      <li><a class="treeview-item" href="{{url_for('start')}}#faq"><i class="icon fa fa-circle-o"></i>Вопросы</a></li>
      <li><a class="treeview-item" href="{{url_for('start')}}#python"><i class="icon fa fa-circle-o"></i>Настройка рабочего места</a></li>
      <li><a class="treeview-item" href="{{url_for('start')}}#bottom"><i class="icon fa fa-circle-o"></i>Начать обучение</a></li>
    </ul>
  </li>
  <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Общий курс</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
        {% for menu in common_menu %}
            {{ nav_link('common', menu.slug, menu.theme_name) }}
        {% endfor %}    
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Трек Веб-разработка</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="table-basic.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
      <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
      <li><a class="treeview-item" href="table-data-table.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Трек Data-Science</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="blank-page.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
      <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
      <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
    </ul>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Трек Telegram-Bot</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="blank-page.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
        <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
        <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
      </ul>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Дополнительно</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        <li><a class="treeview-item" href="blank-page.html"><i class="icon fa fa-circle-o"></i>Урок 1</a></li>
        <li><a class="treeview-item" href="page-login.html"><i class="icon fa fa-circle-o"></i>Урок 2</a></li>
        <li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i>Урок 3</a></li>
      </ul>
      <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-info-circle"></i><span class="app-menu__label">Справочная</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-question-circle"></i>FAQ</a></li>
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-database"></i>База знаний</a></li>
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-book"></i>Литература</a></li>
          <li><a class="treeview-item" href="путь к html файлу"><i class="icon fa fa-address-book"></i>Контакты</a></li>
        </ul>
  </li>
</ul>
{% endblock %}

{% block content %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-play-circle-o"></i> Установка модулей</h1>
        <p>Общий курс</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Главная</a></li>
      </ul>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="tile">

          <!-- Content of page -->
          <!-- <p style="margin: 10px 0px; padding: 0px; color: rgb(32, 32, 32); font-family: Helvetica; font-size: 16px; line-height: 24px; text-align: left; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><strong>Простые типы данных</strong> -->
            <!-- <br>Программа на Python — просто текстовый файл, содержащий набор инструкций. Файлы python имеют расширение .py -->
          </p>

          <div class="row">
                <div class="col-md-4"> 
                  <h4>Видео лекция:</h4>
                  <iframe width="480" height="270" src="https://www.youtube.com/embed/75U7hTJUPIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a data-saferedirecturl="https://www.google.com/url?q=https://moscowpython.us10.list-manage.com/track/click?u%3Dc697064155714e24c8be7e9d8%26id%3D5b271cef6d%26e%3Dcbfff661df&amp;source=gmail&amp;ust=1571772310542000&amp;usg=AFQjCNGk7k48N91ctF_jh7aIW3ELi3L0Fg" href="https://learn.python.ru/lessons/14_pip.html?full#cover" style="color: rgb(43, 170, 223); font-weight: normal; text-decoration: underline;" target="_blank">Слайды</a>                      
                    <a data-saferedirecturl="https://www.google.com/url?q=https://moscowpython.us10.list-manage.com/track/click?u%3Dc697064155714e24c8be7e9d8%26id%3D5b271cef6d%26e%3Dcbfff661df&amp;source=gmail&amp;ust=1571772310542000&amp;usg=AFQjCNGk7k48N91ctF_jh7aIW3ELi3L0Fg" href="https://learn.python.ru/lessons/14_pip.html?full#15" style="color: rgb(43, 170, 223); font-weight: normal; text-decoration: underline;" target="_blank">Задание</a>                                      
                  </div>      
            </div>
          <br>
          <br>
          <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Далее</a>
          
        </div>
      </div>
    </div>
  </main>
{% endblock %}