{% extends '/base_sections.html' %}
{% from "macros.html" import nav_link with context %}.


{% block menu_highlight %}
<ul class="app-menu">
  <li><a class="app-menu__item" href="{{url_for('index')}}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Главная</span></a></li>
  <li class="treeview menu"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-play-circle-o"></i><span class="app-menu__label">Начало курса</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
      <li><a class="treeview-item" href="{{url_for('start')}}#top"><i class="icon fa fa-circle-o"></i>О курсе и коммуникации</a></li>
      <li><a class="treeview-item" href="{{url_for('start')}}#faq"><i class="icon fa fa-circle-o"></i>Вопросы</a></li>
      <li><a class="treeview-item" href="{{url_for('start')}}#python"><i class="icon fa fa-circle-o"></i>Настройка рабочего места</a></li>
      <li><a class="treeview-item" href="{{url_for('start')}}#bottom"><i class="icon fa fa-circle-o"></i>Начать обучение</a></li>
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Общий курс</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
        {% for menu in common_menu %}
          {% if "ООП" in menu.lesson_name %}
            {{ nav_link('common', menu.slug, "ООП в Python") }}
          {% else %}
            {{ nav_link('common', menu.slug, menu.lesson_name) }}
          {% endif %}
        {% endfor %}      
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Трек Веб-разработка</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
        {% for menu in web_menu %}
          {% set shorted_menu_item = menu.url_description.split(":") %}
          {{ nav_link('web', menu.slug, shorted_menu_item[1].strip().capitalize()) }}
        {% endfor %} 
    </ul>
  </li>
  <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Трек Data-Science</span><i class="treeview-indicator fa fa-angle-right"></i></a>
    <ul class="treeview-menu">
        {% for menu in ds_menu %}
          {% set shorted_menu_item = menu.url_description.split(":") %}
          {{ nav_link('ds', menu.slug, shorted_menu_item[1].strip().capitalize()) }}
        {% endfor %}   
    </ul>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Трек Telegram-Bot</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
          {% for menu in bot_menu %}
          {% set shorted_menu_item = menu.url_description.split(":") %}
            {{ nav_link('bot', menu.slug, shorted_menu_item[1].strip().capitalize()) }}
          {% endfor %} 
      </ul>
    <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Дополнительно</span><i class="treeview-indicator fa fa-angle-right"></i></a>
      <ul class="treeview-menu">
        {% for menu in add_menu %}
            {{ nav_link('add', menu.slug, menu.description) }}
        {% endfor %}
      </ul>
      <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-info-circle"></i><span class="app-menu__label">Справочная</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <li><a class="treeview-item" href="{{url_for('help')}}"><i class="icon fa fa-question-circle"></i>FAQ</a></li>
          <li><a class="treeview-item" href="{{url_for('help')}}"><i class="icon fa fa-database"></i>База знаний</a></li>
          <li><a class="treeview-item" href="{{url_for('help')}}"><i class="icon fa fa-book"></i>Литература</a></li>
          <li><a class="treeview-item" href="{{url_for('help')}}"><i class="icon fa fa-address-book"></i>Контакты</a></li>
        </ul>
  </li>
</ul>
{% endblock %}

{% block content_title %}Page under construction{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"> 
            <div class="text-center">
                    <img src="https://images.squarespace-cdn.com/content/v1/5bdb27ee9772ae1cc7955a0a/1551380747835-EI2FP4GB8PCIESBV0AH7/ke17ZwdGBToddI8pDm48kAt72yGFwHZjoxtmj75n0VMUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dv608ZF5SQ066zrusfA3lZsto2GUPSkfCkjYhXQIm1t1CjLISwBs8eEdxAxTptZAUg/UnderConstruction.png?format=1500w" class="rounded mx-auto d-block" alt="Responsive image">
            </div>
{% endblock %}

